#root {
  --background-home: url('../../../public/media_backgrounds/home_background.png');
  --background-card-1: url('../public/home-images/residencialpaint.jpg');
  --background-card-2: url('../public/home-images/industrialpaint.jpg');
  --background-card-3: url('../public/home-images/automotivepaint.jpg');
  --background-card-4: url('../public/home-images/toolsforpaint.jpg');
}

.section-container_tittle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  width: 100%;
  min-height: 55vh;
  padding: 0px;
  align-items: center;
  z-index: 100;
  box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.8);
}

.background_gradient {
  background: linear-gradient(95deg, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent 75%, rgba(255, 255, 255, 0.679) 75%) 0 0 / 15px 15px,
  #aaaaaa;
}

.section-copy {
  text-align: justify;
  color: black;
  font-size: 18pt;
}

.title-presentation {
  font-weight: 200;
  font-size: 25pt;
  color: rgb(255, 255, 255);
  font-style: italic;
  margin: 40px 90px;
}

.subtitle-presentation {
  font-weight: 700;
  font-size: 35pt;
  width: 70%;
  text-align: left;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin: 40px 90px;
}

.subtitle-aux {
  margin: 5px 90px;
  font-weight: 300;
  font-size: 15pt;
  width: 36%;
  text-align: left;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.section-copy button {
  margin: 40px 0px 40px 90px;
  border-radius: 10px;
  padding: 20px;
  width: 35%;
  text-align: justify;
  font-size: 15pt;
  transition: 0.4s;
}

button .fa-arrow-right {
  float: right;
  font-size: 15pt;
}

.btn_know-more {
  border: none;
  background-color: rgb(255, 81, 1);
}

.btn_business {
  border: 1px solid rgb(0, 0, 0);
  background-color: transparent;
  color: white;
}

.btn_business:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  background-color: white;
  color: #000;
}

.btn_know-more:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  background-color: white;
  color: #000;
}

.section-container_body_home {
  min-height: 100vh;
  width: 100%;
  background-image: var(--background-home);
  background-size: cover;
  background-repeat: no-repeat;
}

.section-container_home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #2424245f;
  z-index: 100;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.greetings_text_home h1 {
  font-weight: 600;
  width: 50%;
  font-size: 35pt;
  line-height: 1.5;
  text-align: left;
}

.greetings_text_ask h1 {
  font-weight: 200;
  width: 45%;
  font-size: 18pt;
  margin: 0 70px;
  text-align: right;
  float: right;

}

.greetings_text_ask span {
  color: yellow;
}

/* produtos e servicos */

.section-container_services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: calc(100%/1);
  margin: 90px 35px;
  text-align: left;
  gap: 3rem;
}

.section-container_services p {
  font-size: 15pt;
  font-weight: 500;
  line-height: 1.5;
  background-color: rgba(73, 72, 72, 0.35);
  border-radius: 50px;
  padding: 20px;
  width: 80%;
}

.section-container_services h1 {
  font-size: 18pt;
  text-indent: 0;
  font-style: italic;
}

.section-container_services h1 span {
  color: #ffc800;
}

.section-container_products_home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 160px 8px;
  width: calc(100%/1);
  gap: 8rem;
  text-align: left;
  height: auto;
}

.container-img_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  float: left;
}

.container-img_title .title {
  text-align: left;
  margin: 0px 30px; 
  font-size: 18pt;
  font-weight: bold;
}

.container-img_title p {
  text-align: left;
  font-size: 13pt;
  margin: 0px 0px; 
  font-weight: 200;
}

.desc_text {
  margin: 0px 20px;
  align-items: center;
  position: relative;
  top: 20px;
  font-size: 13pt;
  padding: 0px 0;
}

.card-product_1 {
  background-color: rgba(38, 38, 38, 0.65);
  border-radius: 50px;
  padding: 0;
  margin: 0 20px;
  width: 90%;
  height: auto;
  cursor: pointer;
}
.card-product_1:hover {
  border: 1px rgba(255, 255, 255, 0.500) solid;
  animation: bord 0.5s linear forwards;
}

@keyframes bord {
  0% {
    border: 1px rgb(255, 255, 255) solid;
    position: relative;
    top: 0px;
  }
  100% {
    position: relative;
    top: -10px;
    border: 1px rgba(255, 255, 255, 0.500) solid;
  }
}

.container-img-residencial {
  width: 100%;
  background-image: var(--background-card-1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 50%;
}

.background-house {
  border-radius: 60px;
  background-color: rgba(255, 204, 0, 0.400);
  padding: 0px;
}

.card-product_2 {
  background-color: rgba(38, 38, 38, 0.65);
  border-radius: 50px;
  padding: 0;
  margin: 0 20px;
  width: 90%;
  height: auto;
  cursor: pointer;
}
.card-product_2:hover {
  border: 1px rgba(255, 255, 255, 0.500) solid;
  animation: bord 0.5s linear forwards;
}

.container-img-industrial {
  width: 100%;
  background-image: var(--background-card-2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 50%;
}


.background-industrial {
  border-radius: 60px;
  background-color: rgba(255, 204, 0, 0.400);
}

.card-product_3 {
  background-color: rgba(38, 38, 38, 0.65);
  border-radius: 50px;
  padding: 0;
  margin: 0 20px;
  width: 90%;
  height: auto;
  cursor: pointer;
}
.card-product_3:hover {
  border: 1px rgba(255, 255, 255, 0.500) solid;
  animation: bord 0.5s linear forwards;
}

.container-img-automotive {
  width: 100%;
  background-image: var(--background-card-3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 50%;
}

.background-suv {
  border-radius: 60px;
  background-color: rgba(255, 204, 0, 0.400);
  padding: 0px;
}

.card-product_4 {
  background-color: rgba(38, 38, 38, 0.65);
  border-radius: 50px;
  margin: 0 20px;
  width: 90%;
  height: auto;
  cursor: pointer;
}
.card-product_4:hover {
  border: 1px rgba(255, 255, 255, 0.500) solid;
  animation: bord 0.5s linear forwards;
}
.container-img-tools {
  width: 100%;
  background-image: var(--background-card-4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  height: 50%;
}


.background-roller {
  border-radius: 60px;
  padding: 0px;
  background-color: rgba(255, 204, 0, 0.400);
}

/* produtos e servicos */